<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="demo-vaadin-date-picker">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>
    <vaadin-date-picker></vaadin-date-picker>
  </template>

  <script>
    class DemoVaadinDatePicker extends Polymer.Element {
      static get is() { return 'demo-vaadin-date-picker'; }
    }

    window.customElements.define(DemoVaadinDatePicker.is, DemoVaadinDatePicker);
  </script>
</dom-module>
