<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="demo-vaadin-icons">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>
    TODO
  </template>

  <script>
    class DemoVaadinIcons extends Polymer.Element {
      static get is() { return 'demo-vaadin-icons'; }
    }

    window.customElements.define(DemoVaadinIcons.is, DemoVaadinIcons);
  </script>
</dom-module>
