<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="demo-vaadin-grid">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>
    <vaadin-grid></vaadin-grid>
  </template>

  <script>
    class DemoVaadinGrid extends Polymer.Element {
      static get is() { return 'demo-vaadin-grid'; }
    }

    window.customElements.define(DemoVaadinGrid.is, DemoVaadinGrid);
  </script>
</dom-module>
